.goBackButton {
  font-family: 'ClearSans Medium';
  color: #04004d;
  display: flex;
  align-items: center;
  font-size: 17px;
  border: none;
  margin-bottom: 26px;
  background: inherit;

  img {
    margin-right: 12.5px;
  }
}
